<div class="page-header">
  <h2>Billing period credits for <%= @edit_account.email%></h2>
</div>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <th>Billing Period</th>
        <th class="right-aligned">Credit</th>
        <th></th>
      </tr>
      <% billing_period_list.each do |billing_period| %>
      <tr>
        <th><%= billing_period[0]%></th>
        <td class="right-aligned">
          <% credit = BillingCredit.get_credit_for(billing_period[1],@edit_account.id) %>
          <% if credit.blank? %>
            $0.00
          <% else %>
            <%= number_to_currency credit.amount %>
          <% end %>
        </td>
        <td><%= link_to 'Edit', edit_credit_admin_url(:billing_period=>billing_period[1]), :class=>"btn btn-primary"%></td>
      </tr>
      <% end %>
    </tbody>
  </table>
