<div class="row">
  <div class="span4">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th>Traffic Used:</th>
          <td><%= number_to_human_size(InternetUsage.total_usage(@account.id,session[:billing_period])) %></td>
        </tr>
        <tr>
          <th>Traffic Limit:</th>
          <td><%= number_to_human_size(@account.service.included_internet_usage) %> </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="span5">
    <%= render :partial => 'high_chart_for_internet.html.erb',
               :locals => {:current_user => @account,
                           :billing_period => session[:billing_period]} %>
  </div>
</div>
