  <div class="page-header">
    <h2>Account Overview</h2>
  </div>
  <%= render :partial => 'phone_billing_period' %>
  <div class="page-header">
    <h2>Phone Usage</h2>
  </div>
  <% current_user.phone_numbers.each do |account| %>
    <%= render :partial => 'phone_usage_overview_for',
             :locals => {:phone_number => account.phone_number}
    %>
  <% end %>
  <div class="page-header">
    <h2>Internet Usage</h2>
  </div>
  <%= render :partial => 'internet_usage_overview_for',
             :locals => {:current_user => current_user}
  %>
